---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b68d11061aad43bd89f8f525ede2b598/query
    body:
      encoding: UTF-8
      string: '{"filter":{"and":[{"property":"Status","status":{"equals":"In Progress"}},{"property":"OK","formula":{"string":{"contains":"✅"}}}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - b58a8d1b-51b9-4511-9cc7-f2b6850356db
      Etag:
      - W/"10d-VfgyJ4Y4Q1twiQ1/ecE2RT/tEqs"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: b68d1106-1aad-43bd-89f8-f525ede2b598. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"b58a8d1b-51b9-4511-9cc7-f2b6850356db"}'
  recorded_at: Mon, 26 Feb 2024 17:58:45 GMT
recorded_with: VCR 6.2.0
