---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/52e4040938e945ceb2e6895ce5a0d51e/query
    body:
      encoding: UTF-8
      string: '{"filter":{"and":[{"property":"Status","status":{"equals":"In Progress"}},{"property":"OK","formula":{"string":{"contains":"✅"}}}]}}'
    headers:
      Authorization:
      - Bearer secret_ZELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51C
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - ad715100-67df-41bd-b1f9-aca58312f636
      Etag:
      - W/"8b-ETiVlXan+TXGAmROiec/0ekJjUk"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"ad715100-67df-41bd-b1f9-aca58312f636"}'
  recorded_at: Mon, 26 Feb 2024 17:58:57 GMT
recorded_with: VCR 6.2.0
