---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b68d11061aad43bd89f8f525ede2b598/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_ZELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51C
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 397e8ff0-b575-4c3a-af24-16ef83f9fae3
      Etag:
      - W/"8b-Lqr4btE+ep2c4VE16J8fdlFRvg0"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"397e8ff0-b575-4c3a-af24-16ef83f9fae3"}'
  recorded_at: Tue, 23 Jan 2024 04:19:08 GMT
recorded_with: VCR 6.2.0
