---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/86772de276d24ed986713640919edf96/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_4x5x2CH9WKwhnptlUIJfI211CGyTTcgkjjcbr3AAO1q
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - aa11fc6e-26b1-4ca6-b31f-3c5df7ab2151
      Etag:
      - W/"a6-wCzAFmdUEK0V/xqsUg9X34k89yo"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"aa11fc6e-26b1-4ca6-b31f-3c5df7ab2151"}'
  recorded_at: Tue, 23 Jan 2024 04:04:54 GMT
recorded_with: VCR 6.2.0
