---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b68d11061aad43bd89f8f525ede2b598/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_4x5x2CH9WKwhnptlUIJfI211CGyTTcgkjjcbr3AAO1q
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - dde1c790-bd57-4137-a92b-8c321cdda928
      Etag:
      - W/"10d-SEJ5Cmb90IhKWwWeHm2YtuRM1hk"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: b68d1106-1aad-43bd-89f8-f525ede2b598. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"dde1c790-bd57-4137-a92b-8c321cdda928"}'
  recorded_at: Tue, 23 Jan 2024 04:07:36 GMT
recorded_with: VCR 6.2.0
