---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/a3de68d2848a4eceb9418ff6bf44d086/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_4x5x2CH9WKwhnptlUIJfI211CGyTTcgkjjcbr3AAO1q
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - b451b078-812e-4de6-9e1f-44be4d0074dc
      Etag:
      - W/"a6-pun/R/ASp4CxBhbXnIsFMpcl6yo"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"b451b078-812e-4de6-9e1f-44be4d0074dc"}'
  recorded_at: Fri, 26 Jan 2024 14:58:15 GMT
recorded_with: VCR 6.2.0
