---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/c17e556d16c84272beb4ee73ab709631/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_BELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51B
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 3fd64030-cdaa-4782-afdc-7e487aa21a52
      Etag:
      - W/"8b-/GHt+IYlFhwr6lypx5gz/qzKxUg"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"3fd64030-cdaa-4782-afdc-7e487aa21a52"}'
  recorded_at: Wed, 17 Jan 2024 14:56:06 GMT
recorded_with: VCR 6.2.0
