---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/a17e556d16c84272beb4ee73ab709630/query
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer secret_4x5x2CH9WKwhnptlUIJfI211CGyTTcgkjjcbr3AAO1q
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 165907d9-e7e2-4065-a4d1-8b093341a494
      Etag:
      - W/"10d-O2IsXLC2cE+JazKrSf0o+AmQpS8"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: c17e556d-16c8-4272-beb4-ee73ab709631. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"165907d9-e7e2-4065-a4d1-8b093341a494"}'
  recorded_at: Wed, 17 Jan 2024 14:43:47 GMT
recorded_with: VCR 6.2.0
