---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/5aebbdc871864f4fbab5596a41a81a01/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"BD_this_year","date":{"equals":"2024-03-05"}}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 6fe36463-1ba6-43e3-b479-25828c5f93ae
      Etag:
      - W/"456-4dNxeZ3z6cRgnLdRPu80pXcPwUA"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"page","id":"fdca4720-7dca-4d0b-b1bc-48f4a3518510","created_time":"2024-02-26T20:44:00.000Z","last_edited_time":"2024-02-26T20:44:00.000Z","created_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"last_edited_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"5aebbdc8-7186-4f4f-bab5-596a41a81a01"},"archived":false,"properties":{"Name":{"id":"I_oW","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Lorenzo","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lorenzo","href":null}]},"BD_this_year":{"id":"TU%7DA","type":"date","date":{"start":"2024-03-05","end":null,"time_zone":null}},"Created
        at":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/fdca47207dca4d0bb1bc48f4a3518510","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"6fe36463-1ba6-43e3-b479-25828c5f93ae"}'
  recorded_at: Mon, 26 Feb 2024 20:49:34 GMT
recorded_with: VCR 6.2.0
