---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/5aebbdc871864f4fbab5596a41a81a01/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"BD_this_year","date":{"equals":"2024-03-05"}}]}}'
    headers:
      Authorization:
      - Bearer secret_ZELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51C
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - fd80c417-4f9a-4a90-aa05-7cc37aa6fcfc
      Etag:
      - W/"8b-vkY9GbCGjy7fvm0NsJhQ/vig/5o"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"fd80c417-4f9a-4a90-aa05-7cc37aa6fcfc"}'
  recorded_at: Mon, 26 Feb 2024 20:49:35 GMT
recorded_with: VCR 6.2.0
