---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/c17e556d16c84272beb4ee73ab709631/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"property":"BD_this_year","date":{"equals":"2024-03-05"}}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 3808e3dc-ed85-435c-a729-4c42427456d2
      Etag:
      - W/"10d-XHoJteKDoHFel2xJbmjVlQz7Wh4"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: c17e556d-16c8-4272-beb4-ee73ab709631. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"3808e3dc-ed85-435c-a729-4c42427456d2"}'
  recorded_at: Mon, 26 Feb 2024 20:49:34 GMT
recorded_with: VCR 6.2.0
