---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/b68d11061aad43bd89f8f525ede2b598/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"and":[{"property":"Desde?","date":{"on_or_before":"2024-03-05"}},{"property":"Hasta?","date":{"on_or_after":"2024-03-05"}}]},{"and":[{"property":"Desde?","date":{"on_or_after":"2024-03-05T00:00:00"}},{"property":"Hasta?","date":{"on_or_before":"2024-03-05T23:59:59"}}]}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 9d3a96ac-c954-4541-914e-ebd09073f143
      Etag:
      - W/"10d-sHpvMJ9ajZOvSsQY5YHsmK/YHag"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find database with ID: b68d1106-1aad-43bd-89f8-f525ede2b598. Make sure
        the relevant pages and databases are shared with your integration.","request_id":"9d3a96ac-c954-4541-914e-ebd09073f143"}'
  recorded_at: Mon, 26 Feb 2024 21:42:44 GMT
recorded_with: VCR 6.2.0
