---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/8187370982134ed099f9d14385aa81c9/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"and":[{"property":"Desde?","date":{"on_or_before":"2024-03-05"}},{"property":"Hasta?","date":{"on_or_after":"2024-03-05"}}]},{"and":[{"property":"Desde?","date":{"on_or_after":"2024-03-05T00:00:00"}},{"property":"Hasta?","date":{"on_or_before":"2024-03-05T23:59:59"}}]}]}}'
    headers:
      Authorization:
      - Bearer secret_ZELfDH6cf4Glc9NLPLxvsvdl9iZVD4qBCyMDXqch51C
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 9de12245-84f8-4345-8379-ad473d2c7137
      Etag:
      - W/"8b-ZcLdEwTwiAg65IcAAi70TaHAX3M"
    body:
      encoding: UTF-8
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"9de12245-84f8-4345-8379-ad473d2c7137"}'
  recorded_at: Mon, 26 Feb 2024 21:42:44 GMT
recorded_with: VCR 6.2.0
