---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/8187370982134ed099f9d14385aa81c9/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"and":[{"property":"Desde?","date":{"on_or_before":"2024-03-05"}},{"property":"Hasta?","date":{"on_or_after":"2024-03-05"}}]},{"and":[{"property":"Desde?","date":{"on_or_after":"2024-03-05T00:00:00"}},{"property":"Hasta?","date":{"on_or_before":"2024-03-05T23:59:59"}}]}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 911dd87c-5d71-4a4f-a482-7f8ce7d953d8
      Etag:
      - W/"ce3-1W9WFoHNRzlBCfCzzoa9X/l+jQY"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[{"object":"page","id":"f37f592a-fd4b-4b7a-8d02-1ab6284d87f2","created_time":"2024-02-26T21:39:00.000Z","last_edited_time":"2024-02-26T21:39:00.000Z","created_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"last_edited_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"81873709-8213-4ed0-99f9-d14385aa81c9"},"archived":false,"properties":{"Person":{"id":"I_oW","type":"rich_text","rich_text":[{"type":"text","text":{"content":"Luis","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Luis","href":null}]},"Desde?":{"id":"TU%7DA","type":"date","date":{"start":"2024-03-05T14:00:00.000-05:00","end":null,"time_zone":null}},"Hasta?":{"id":"XNm_","type":"date","date":{"start":"2024-03-05T18:00:00.000-05:00","end":null,"time_zone":null}},"Date":{"id":"title","type":"title","title":[]}},"url":"https://www.notion.so/f37f592afd4b4b7a8d021ab6284d87f2","public_url":null},{"object":"page","id":"44ad84ec-caac-494c-9415-0afe88749f48","created_time":"2024-02-26T21:39:00.000Z","last_edited_time":"2024-02-26T21:39:00.000Z","created_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"last_edited_by":{"object":"user","id":"7b6a0839-d5ad-4636-9509-8411cc70688d"},"cover":null,"icon":null,"parent":{"type":"database_id","database_id":"81873709-8213-4ed0-99f9-d14385aa81c9"},"archived":false,"properties":{"Person":{"id":"I_oW","type":"rich_text","rich_tex[...]
