---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/68bcbb5f76e14e5eb00ff6726bd90f6c/query
    body:
      encoding: UTF-8
      string: '{"filter":{"or":[{"and":[{"property":"Desde?","date":{"on_or_before":"2024-03-05"}},{"property":"Hasta?","date":{"on_or_after":"2024-03-05"}}]},{"and":[{"property":"Desde?","date":{"on_or_after":"2024-03-05T00:00:00"}},{"property":"Hasta?","date":{"on_or_before":"2024-03-05T23:59:59"}}]}]}}'
    headers:
      Authorization:
      - Bearer secret_K5UCqm27GvAscTlaGJmS2se4fyM1K7is3OIZMw03NaC
      Content-Type:
      - application/json
      Notion-Version:
      - '2022-06-28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 3eda075e-e431-4675-a482-39fd33a1c02e
      Etag:
      - W/"a6-7ED+dOfBNwMg6SbfdPDm6Semseo"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"3eda075e-e431-4675-a482-39fd33a1c02e"}'
  recorded_at: Mon, 26 Feb 2024 21:42:29 GMT
recorded_with: VCR 6.2.0
