---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/webhooks/1196541734138691615/lFFCvFdMVEvfKWtFID2TSBjNjjBvEwqRbG2czOz3X_JfHfIgmXh6SDlFRXaXLOignsIP
    body:
      encoding: UTF-8
      string: '{"username":"Test Birthday Bot","avatar_url":"","content":"John Doe,
        Wishing you a very happy birthday! Enjoy your special day! :birthday: :gift:"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3d2712a9e4fe17cc9d3fed4a8e672e5f
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1705540531'
      X-Ratelimit-Reset-After:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message": "Invalid Webhook Token", "code": 50027}'
  recorded_at: Thu, 18 Jan 2024 01:15:29 GMT
recorded_with: VCR 6.2.0
